*{
    margin:0;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
body{
    background-color: rgb(111, 197, 247);
}
button , p{
    color: white;

}
.header-text{
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;

    font-family: 'Syne Tactile', cursive;

    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.header-subtext{
    font-size:10px;
    color: #ccc;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 6px ;
    display: inline-block;
}
.logo-section button{
    background-color: #78e378;
    color:black;
    border: none;
    border-radius: 2px;
}
.logo-section button:hover{
    display: block;

}
.header-subtext :hover{
    color: white;
}
.gray-button{
    background-color: #838a85;
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s;

}
.gray-button :hover{
    background-color: #e9f0e9;
}
.signup-button{
    background-color: #c0ebc0;
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: black;
    transition: all 0.3s;
}
.signup-button:hover{
    background-color: #78e378;
    color:white
}
.form{
    background-color: rgba(0, 0, 0, 0.4);
    /* opacity: 0.3; */
    width: 20%;
    margin: auto;
    margin-top: 8%;
    padding: 40px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    
}.form h2{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.form input{
    margin-bottom: 40px;
    outline: none;
    padding-bottom: 4px;
    border-bottom: 2px solid white ;
    background: none;
}
.form button{
    margin-bottom: 40px;
    background-color: antiquewhite;
    border: none;
    padding: 15px;
    color: black;
    border-radius: 4px;

}
::placeholder{
    color: white;
    font-weight: bold;
}
.form a{
    text-decoration: none;
    color:antiquewhite;
    margin-left: 4px;
}
.form input:focus ::placeholder{
    transform: translateY(-15px);
    transition: all 0.1s;
}
.footer{
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
   left:50%;
   position: fixed;
   left:50%;
   width:300px;
   transform: translateY(-50%) ;
   text-align: center;
   padding: 8px;
   border-radius: 8px 8px 0 0;
}
@media only screen and(max-width:768px)
{
    .logo-section button{
        display: none;
    }
}